* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}
body {
    background: linear-gradient(
    to right,
    rgb(68, 3, 3) 20%,
    rgb(43, 9, 35) 25% 40%,
    rgb(190, 162, 162) 45% 55%,
    rgb(43, 9, 35) 60% 75%,
    rgb(68, 3, 3) 80%
  );
   
}
.main-content {
    min-height: 100vh;
    width: 70%;
    margin: 1rem auto;
    background: linear-gradient(
        to right,
        rgb(219, 144, 157) 30%,
        rgb(255, 226, 231) 30%
     );
   
    
}
/*
background-color: rgb(255, 226, 231);
 background-color: rgb(183, 211, 183);
repeating-linear-gradient(
        to right,
        white,
        white 10px,
        rgb(196, 196, 240) 10px,
        rgb(196, 196, 240) 12px
        );
        */
       
.left-section{
    background-color: white;
    margin-top: 10%;
    margin-left: 6%;
    padding: 1rem 2rem;
    display: flex;
    display: inline-block;
}
.personal-info-base {
    width: 100%;
}
.personal-info-base img{
    width: 100%;
    padding-bottom: 1rem;
}
.name{
    font-size: 2rem;
    color: rgb(161, 66, 82);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.6rem;
}
.career {
    font-size: 1.2rem;
    color: rgb(161, 66, 82);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1.6rem;
}
.contact-info {
    color: rgb(161, 66, 82);
    text-align: left;
}
.contact-info ul li {
    margin-bottom: 1rem;
}
.qrcode {
    display: inline-block;
}

.right-section {
    width: 48%;
    padding: 1rem 1rem;
    margin-top: 10%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
    border-left: solid;
    border-left-width: 2px;
    border-left-color:rgb(184, 18, 45);  
    background-color: rgb(255, 226, 231);
}

.about-myself{
    width: 100%;
    font-size: 0.8rem;
    color: rgb(61, 26, 32);
    text-align: left;
    letter-spacing: 1px;
    padding-bottom: 4rem;
}
.education {
    font-size: 0.8rem;
    color: rgb(61, 26, 32);
    text-align: left;
    letter-spacing: 1px;
    padding-bottom: 1.6rem;
}
.education ul li {
    margin-bottom: 1rem;
}
.experience{
    font-size: 0.8rem;
    color: rgb(61, 26, 32);
    text-align: left;
    letter-spacing: 1px;
    padding-bottom: 1.6rem;
}
.experience ul li {
    margin-bottom: 1rem;
}
.skills{
    font-size: 0.8rem;
    color: rgb(61, 26, 32);
    text-align: left;
    letter-spacing: 1px;
    padding-bottom: 1.6rem;
}
.skills ul li {
    margin-bottom: 1rem;
}
.progressbar{
    width: 80%;
    height: .3rem;
    background-color: rgb(186, 149, 221);
    position: relative;
    border-radius: 12px;
    margin-top: .5rem;
}
.progress{
    height: 100%;
    position: absolute;
    background-color: rgb(167, 100, 111);
    left: 0;
    
}
.Purring {
    width: 87%;
}
.Kneeding {
    width: 95%;
}
.Herbology {
    width: 69%;
}
.Hunting {
    width: 83%;
}
.Divine {
    width: 98%;
}